@font-face {
    font-family: 'GT Sectra';
    src: url(/fonts/GT-Sectra-Fine-Book.eot);
    src: url(/fonts/GT-Sectra-Fine-Book.eot#iefix) format("embedded-opentype"), url(/fonts/GT-Sectra-Fine-Book.woff) format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'GT Sectra';
    src: url(/fonts/GT-Sectra-Fine-Book-Italic.eot);
    src: url(/fonts/GT-Sectra-Fine-Book-Italic.eot#iefix) format("embedded-opentype"), url(/fonts/GT-Sectra-Fine-Book-Italic.woff) format("woff");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'GT Sectra';
    src: url(/fonts/GT-Sectra-Fine-Medium.eot);
    src: url(/fonts/GT-Sectra-Fine-Medium.eot#iefix) format("embedded-opentype"), url(/fonts/GT-Sectra-Fine-Medium.woff) format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Suisse Condensed';
    src: url(/fonts/SuisseIntlCond-Medium-WebS.eot);
    src: url(/fonts/SuisseIntlCond-Medium-WebS.eot#iefix) format("embedded-opentype"), url(/fonts/SuisseIntlCond-Medium-WebS.woff) format("woff");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Euclid Flex';
    src: url(/fonts/EuclidFlex-Regular-WebS.eot);
    src: url(/fonts/EuclidFlex-Regular-WebS.eot#iefix) format("embedded-opentype"), url(/fonts/EuclidFlex-Regular-WebS.woff) format("woff");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'SS Social';
    src: url(/fonts/ss-social-regular.eot);
    src: url(/fonts/ss-social-regular.eot?#iefi) format("embedded-opentype"), url(/fonts/ss-social-regular.woff) format("woff");
    font-weight: normal;
    font-style: normal
}

#preloader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333;
    z-index: 99999;
    height: 100%;
}
#status {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 0;
}

.ss-icon {
    position: relative;
    top: 0.15em;
    font-family: 'SS Social';
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility
}

.middle-container {
    font-size: 0;
    white-space: nowrap
}

.middle-container:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%
}

.lte-ie8 .middle-container:after {
    * display: inline
}

.middle {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    z-index: 1
}

.lte-ie8 .middle {
    * display: inline
}

.cover-container {
    position: relative;
    overflow: hidden
}

.cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.dark {
    color: white
}

.dark a {
    color: white
}

.frame-top, .frame-right, .frame-bottom, .frame-left {
    position: fixed;
    z-index: 12;
    background: black
}

.frame-bottom, .frame-top {
    right: 0;
    left: 0;
    height: 14px
}

.frame-right, .frame-left {
    top: 0;
    bottom: 0;
    width: 14px
}

.frame-top {
    top: 0
}

.frame-bottom {
    bottom: 0
}

.frame-right {
    right: 0
}

.frame-left {
    left: 0
}

#edit_in_cms {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100
}

#edit_in_cms p {
    margin: 0
}

#edit_in_cms a {
    display: block;
    padding: 0.5em 0.75em;
    font: bold 16px / 1 sans-serif;
    text-decoration: none;
    color: white;
    background: red
}

.lock-in-place {
    width: 100%;
    height: 100%
}

.placeholder {
    position: relative;
    z-index: -1 !important;
    width: 100%;
    height: 100%;
    display: none
}

.placeholder.active {
    display: block
}

.mobile .placeholder {
    display: none !important
}

.slice {
    position: relative;
    z-index: 1
}

.locked {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0
}

.fade-in {
    display: none
}

@media (max-width: 768px) {
    .placeholder.active {
        display: none
    }

    .locked {
        position: relative
    }

    .frame-top, .frame-right, .frame-bottom, .frame-left {
        display: none
    }
}

.translucent-black {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity: 0.3
}

.lte-ie8 .translucent-black {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30)
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
}

.layout-light {
    background: white
}

iframe, img {
    border: 0
}

body {
    font-family: 'GT Sectra', serif;
    font-size: 24px;
    text-align: center;
    -webkit-font-smoothing: antialiased
}

body.layout-light {
    font-size: 27px
}

@media (max-width: 480px) {
    body.layout-light {
        font-size: 20px
    }
}

@media (max-width: 480px) {
    body {
        font-size: 20px
    }
}

h1, h2, h3, h4, h5, h6 {
    font: normal 15px / 1.5 'Euclid Flex';
    letter-spacing: 0.15em;
    text-transform: uppercase
}

input, textarea, button {
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: none
}

@media (max-width: 768px), (max-height: 620px) {
    body {
        font-size: 24px
    }
}

a {
    color: black
}

.button, #OT_form a.OT_Find_a_Table:link, #OT_form a.OT_Find_a_Table:visited,
#OT_form a.OT_Find_a_Table:hover, #OT_form a.OT_Find_a_Table:active {
    display: inline-block;
    border: 1px solid black;
    padding: 5px 15px;
    font: normal 16px / 1.5 'Euclid Flex';
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    color: black
}

.lte-ie8 .button, .lte-ie8 #OT_form a.OT_Find_a_Table:link, #OT_form .lte-ie8 a.OT_Find_a_Table:link,
.lte-ie8 #OT_form a.OT_Find_a_Table:visited, #OT_form .lte-ie8 a.OT_Find_a_Table:visited,
.lte-ie8 #OT_form a.OT_Find_a_Table:hover, #OT_form .lte-ie8 a.OT_Find_a_Table:hover,
.lte-ie8 #OT_form a.OT_Find_a_Table:active, #OT_form .lte-ie8 a.OT_Find_a_Table:active {
    * display: inline
}

.dark .button, .dark #OT_form a.OT_Find_a_Table:link, #OT_form .dark a.OT_Find_a_Table:link,
.dark #OT_form a.OT_Find_a_Table:visited, #OT_form .dark a.OT_Find_a_Table:visited,
.dark #OT_form a.OT_Find_a_Table:hover, #OT_form .dark a.OT_Find_a_Table:hover,
.dark #OT_form a.OT_Find_a_Table:active, #OT_form .dark a.OT_Find_a_Table:active {
    border-color: white;
    color: white
}

.footer {
    position: relative;
    z-index: 1;

}



#header {
    position: fixed;
    top: 14px;
    right: 14px;
    left: 14px;
    z-index: 15;
    padding: 28px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    -webkit-transition: background-color 0.1s linear;
    -moz-transition: background-color 0.1s linear;
    -ms-transition: background-color 0.1s linear;
    transition: background-color 0.1s linear
}

#header h1 {
    margin: 0
}

#header img, #header a {
    width: 300px;
    margin: 0 auto;
    display: block
}

@media (max-width: 768px) {
    #header img, #header a{
        width: 200px;
        margin: 0 auto;
        display: block
    }
}

.mobile #header {
    position: absolute
}

#header.inverted, .layout-light #header {
    background: white
}

#header.inverted h1, .layout-light #header h1 {
    -webkit-filter: invert(1)
}

.nav-showing #header {
    background: rgba(255, 255, 255, 0)
}

.nav-showing #header h1 {
    -webkit-filter: none
}

@media (max-width: 580px), (max-height: 620px) {
    #header {
        position: absolute;
        top: 20px
    }
}

#navigation {
    position: fixed;
    top: -100%;
    left: 0;
    z-index: 10
}

.show-nav, .back-to-parent {
    position: fixed;
    top: 48px;
    right: 36px;
    z-index: 15;
    font: normal 14px / 1 'Euclid Flex';
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    height: 12px;
    vertical-align: top;
    color: white
}

.show-nav.inverted, .layout-light .show-nav, .back-to-parent.inverted,
.layout-light .back-to-parent {
    color: black
}

.nav-showing .show-nav, .nav-showing .back-to-parent {
    color: white
}

.show-nav .pin, .back-to-parent .pin {
    margin-right: 5px;
    height: 12px;
    width: auto
}

.home .show-nav, .home .back-to-parent {
    display: none
}

@media (max-width: 768px) {
    .show-nav, .back-to-parent {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: black !important;
        color: white !important;
        padding: 7px
    }
}

.back-to-parent {
    right: auto;
    left: 36px
}

@media (max-width: 768px) {
    .back-to-parent {
        display: none
    }
}

#OT_form {
    margin: 0 auto !important
}

#OT_form .OT_wrapper {
    border: 0;
    background: none
}

#OT_form .OT_header {
    display: none
}

#OT_form .OT_day, #OT_form .OT_time, #OT_form .OT_party {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px
}

#OT_form a.OT_Find_a_Table:link, #OT_form a.OT_Find_a_Table:visited,
#OT_form a.OT_Find_a_Table:hover, #OT_form a.OT_Find_a_Table:active {
    background: none;
    margin-top: 10px;
    height: auto;
    text-shadow: none;
    border-color: white;
    color: white
}

#OT_form .OTButton, #OT_form #OTButton {
    width: auto
}

#OT_form .OT_searchTimeField, #OT_form .OT_searchDateField, #OT_form .OT_searchPartyField {
    border: 0;
    padding: 0;
    height: 30px;
    font: normal 20px / 1 'GT Sectra', serif;
    background: none;
    color: white
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.portal {
    position: relative;
    width: 100%;
    height: 100%
}

.portal.empty {
    display: none
}

.portal .middle {
    position: relative;
    z-index: 2
}

.lte-ie8 .portal .middle {
    * margin-top: 100px
}

.portal-locations {
    color: white
}

.portal-locations h4 {
    margin-bottom: 0
}

.portal-locations a {
    display: block;
    font: 40px / 1.25 "Suisse Condensed";
    letter-spacing: 0.28em;
    text-transform: uppercase;
    text-decoration: none;
    color: white
}

.portal-locations a:hover {
    display: block;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    text-decoration: none;
    color: #C7C9C8
}

@media (max-width: 800px) {
    .portal-locations a {
        font-size: 29px
    }
}

@media (max-width: 700px) {
    .portal-locations a {
        font-size: 25px
    }
}


@media (max-width: 600px) {
    .portal-locations a {
        font-size: 22px
    }
}

@media (max-width: 500px) {
    .portal-locations a {
        font-size: 19px
    }
}
@media (max-width: 400px) {
    .portal-locations a {
        font-size: 15px
    }
}
@media (max-width: 300px) {
    .portal-locations a {
        font-size: 10px
    }
} 


@media (max-width: 600px) {
    .portal-locations h4 {
        font-size: 16px
    }
}

@media (max-width: 500px) {
    .portal-locations h4 {
        font-size: 15px
    }
}
@media (max-width: 400px) {
    .portal-locations h4 {
        font-size: 12px
    }
}

@media (max-width: 300px) {
    .portal-locations h4 {
        font-size: 8px
    }
}

@media (max-width: 800px) {
    .portal-locations .font {
        font-size: 12px
    }
}

@media (max-width: 600px) {
    .portal-locations .font {
        font-size: 12px
    }
}

@media (max-width: 500px) {
    .portal-locations .font {
        font-size: 12px
    }
}
@media (max-width: 400px) {
    .portal-locations .font {
        font-size: 10px
    }
}

@media (max-width: 300px) {
    .portal-locations .font {
        font-size: 10px
    }
}


.portal .translucent-black {
    z-index: 2
}

.portal-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%
}

.mobile .portal-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    src: "images/xachapuri.jpg";
}

.location-image {
    display: none;
    z-index: 1
}

.location-image.active {
    display: block !important;
    opacity: 1 !important
}

.portal-down {
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    position: absolute;
    bottom: 32px;
    left: 50%;
    z-index: 2;
    margin-left: -13px;
    cursor: pointer;
    opacity: 0
}

.portal-down.visible {
    opacity: 1
}

.spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13.5px;
    margin-left: -12.5px
}

.loading .spinner {
    display: block;
    -webkit-animation: spin 1s linear infinite
}

.full-bleed-images {
    background: black
}

.full-bleed-images, .images-container {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.standard-images {
    padding: 130px 0 0;
    background: white
}

.standard-images .images-container {
    margin: 0 auto;
    width: 850px;
    height: 460px;
    overflow: hidden
}

@media (max-width: 880px) {
    .standard-images .images-container {
        width: 600px;
        height: 360px
    }
}

@media (max-width: 660px) {
    .standard-images .images-container {
        width: 300px;
        height: 200px
    }
}

.images-container {
    position: relative
}

.images {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 100%;
    font-size: 0;
    white-space: nowrap
}

.images li {
    display: inline-block;
    width: 100%;
    height: 100%
}

.lte-ie8 .images li {
    * display: inline
}

.slider-button {
    position: absolute;
    top: 50%;
    margin-top: -32px;
    height: 64px;
    width: 64px;
    overflow: hidden;
    border: 0;
    padding: 0;
    outline: none;
    text-indent: -999px;
    cursor: pointer
}

@media (max-width: 580px), (max-height: 620px) {
    .slider-button {
        display: none
    }
}

.slider-next-button {
    right: 0;
    background: url(/assets/right.png) center center no-repeat
}

.slider-prev-button {
    left: 0;
    background: url(/assets/left.png) center center no-repeat
}

.slider-bullets {
    position: absolute;
    right: 0;
    bottom: 90px;
    left: 0;
    font-size: 0
}

.standard-images .slider-bullets {
    bottom: 20px
}

@media (max-width: 580px), (max-height: 620px) {
    .slider-bullets {
        bottom: 20px
    }
}

.slider-bullets button {
    display: inline-block;
    border: 0;
    margin: 0 4px;
    padding: 0;
    overflow: hidden;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-indent: -999px;
    background: #202020;
    outline: none;
    cursor: pointer
}

.lte-ie8 .slider-bullets button {
    * display: inline
}

.slider-bullets .active {
    background: white
}

.language_selector {
    position: fixed;
    z-index: 1000;
    padding: 40px;
    background: transparent;
    font: normal 14px / 1 'Euclid Flex';
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 5px;
    height: 12px;
    color: black
}

.language_selector .language-select {
    display: inline-block
}

.language_selector .language-select:last-child .lang-divider {
    display: none
}

.language_selector .language-select.inverted a, .language_selector .language-select.inverted .lang-divider {
    color: black
}

.language_selector a {
    color: white;
    text-decoration: none;
    vertical-align: middle;
    padding: 0 5px
}

.location-details-slice {
    padding: 140px 0 90px;
    font-size: 0;
    background: black;
    background: rgba(0, 0, 0, 0.8)
}

.mobile .location-details-slice {
    background: black
}

.location-section {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    padding: 40px 80px;
    width: 280px;
    font-size: 20px
}

.lte-ie8 .location-section {
    * display: inline
}

.location-section h3 {
    font: 15px / 1.25 "Suisse Condensed"
}

.location-background {
    position: relative
}

.location-background img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -355px
}

@media (max-width: 880px) {
    .location-details-slice {
        background: black
    }

    .location-section {
        display: block;
        margin: 0 auto;
        padding: 20px 0;
        width: 80%
    }

    .location-background {
        display: none
    }
}

.location-header h1 {
    font: 46px / 1.25 "Suisse Condensed";
    letter-spacing: 0.28em;
    text-transform: uppercase;
    text-decoration: none;
    color: white
}

@media (max-width: 600px) {
    .location-header h1 {
        font-size: 22px
    }
}

@media (max-width: 400px) {
    .location-header h1 {
        font-size: 16px
    }
}

@media (max-width: 300px) {
    .location-header h1 {
        font-size: 12px
    }
}

.location-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    font: normal 14px / 1 'Euclid Flex';
    letter-spacing: 0.15em;
    text-transform: uppercase;
    font-size: 0;
    color: white
}

.location-navigation li:before {
    content: "|"
}

.location-navigation li:first-child:before {
    display: none
}

.location-navigation li {
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.1em
}

.lte-ie8 .location-navigation li {
    * display: inline
}

@media (max-width: 768px) {
    .location-navigation li {
        display: block;
        margin-bottom: 5px
    }

    .location-navigation li:before {
        display: none
    }
}

.location-navigation a {
    padding: 0 15px;
    text-decoration: none;
    color: white
}

.location-navigation.sticky {
    position: fixed;
    top: 90px;
    left: 14px;
    right: 14px;
    z-index: 15
}

.location-navigation.sticky.inverted {
    color: black;
    padding-bottom: 20px;
    background: white
}

.location-navigation.sticky.inverted a {
    color: black
}

.nav-showing .location-navigation.sticky {
    z-index: 0
}

.menus-slice {
    overflow: hidden;
    padding-top: 220px;
    color: white;
    background: black;
    background: rgba(0, 0, 0, 0.8);
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(50%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.8)));
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.8) 100%)
}

.menus-slice a {
    text-decoration: none;
    color: white
}

.msie .menus-slice {
    padding-top: 140px
}

.mobile .menus-slice {
    padding-top: 140px;
    background: black
}

.menus-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0
}

.menus-item {
    display: inline-block;
    vertical-align: middle;
    max-width: 400px;
    width: 30%
}

.lte-ie8 .menus-item {
    * display: inline
}

.menus-item h4 {
    margin-bottom: 0;
    font: 32px / 1.25 "Suisse Condensed";
    letter-spacing: 0.28em;
    text-transform: uppercase
}

.menus-item h5 {
    margin-top: 0
}

@media (max-width: 768px) {
    .menus-slice {
        padding-top: 90px;
        background: black
    }

    .menus-item {
        display: block;
        margin: 0 auto;
        width: 80%
    }

    .menus-item h4 {
        font-size: 21px
    }

    .menus-item h5 {
        font-size: 12px
    }
}

.social-slice {
    padding: 18px;
    font-size: 30px;
    background: black;
    color: white
}

.social-slice h3 {
    margin-top: 0
}

.social-slice a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white
}

.lte-ie8 .social-slice a {
    * display: inline
}

.text-slice {
    padding: 0;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    background: white
}

.layout-light .text-slice {
    border-bottom: 0;
    border-top: 0
}

.text {
    margin: 0 auto;
    padding: 80px 0;
    width: 90%;
    max-width: 640px
}

.text > :first-child {
    margin-top: 0
}

.text > :last-child {
    margin-bottom: 0
}

.layout-light .text {
    padding-top: 24px;
    max-width: 800px
}

@media (max-width: 880px) {
    .text {
        padding-left: 20px;
        padding-right: 20px;
        width: auto !important
    }
}
